<h1>{{title}}</h1>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="toDoList">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">
        <mat-checkbox [checked]="element.state" 
                      (change)="onChange($event, i, element)"> 
          {{element.title}} 
        </mat-checkbox></mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef > State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state ? 'Done' : 'To Be Done'}} </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteToDo(element.id)" aria-label="Delete this to do">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDetails(element.id)" aria-label="View details">
              <mat-icon>chat_bubble_outline</mat-icon>
            </button>
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div class="button">
  <button mat-fab (click)="openDialog()"><mat-icon [ngStyle]="{'color': green}">add</mat-icon></button>
</div>